fonttools==4.49.0
git+https://github.com/googlefonts/fontra.git
git+https://github.com/googlefonts/fontra-rcjk.git
git+https://github.com/googlefonts/fontra-compile.git
drawbot-skia==0.5.0
git+https://github.com/typemytype/drawbot@3.128