name: Export and Build

on:
  workflow_dispatch:  # allow manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Export Fontra and UFO sources and build fonts
        run: ./export_and_build.sh

      - name: Storing Font Sources
        uses: actions/upload-artifact@v4
        with:
          name: NotoCJKVarCo_Sources
          path: build/sources

      - name: Storing Font Binaries
        uses: actions/upload-artifact@v4
        with:
          name: NotoCJKVarCo_Fonts
          path: build/fonts
